BorderPane {
	-fx-background-color: rgba(0, 100, 100, 1.5);
}
.main_panel {
	-fx-background-image: url("../img/wood-background.png");
	-fx-background-color: rgba(255, 255, 255, 1.0);
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-background-position: center center;
	-fx-background-repeat: stretch;
}

Label {
	-fx-text-fill:#ecc900;	
}

.time_label .text {
	-fx-stroke: green;
	-fx-stroke-width: 2px;
}

.date_label .text, .weekday_label .text, .merid_label .text {
	-fx-stroke: green;
	-fx-stroke-width: 1px;
}

.volume_slider {
	-fx-padding: 0.2em .5em;
}

.volume_slider .track {
	-fx-background-color: green;
	-fx-background-radius: 10px;
	-fx-border-color: #ecc900;
	-fx-border-radius: 20px;
	-fx-border-width: 2px;
}

.volume_slider .thumb {
	-fx-background-color: green;
	-fx-border-color: #ecc900;
	-fx-border-radius: 20px;
	-fx-border-width: 2px;
}

.exit_button {
	-fx-graphic-size: 10px;
	-fx-graphic: url("../img/exit_button_sm.png");
	-fx-border-radius: 50px;
	-fx-background-radius: 100px;
	-fx-background-color: transparent;
}

.exit_button:hover {
	-fx-graphic-size: 10px;
	-fx-graphic: url("../img/exit_button_hover_sm.png");
}

.option_button {
	-fx-graphic: url("../img/option_button_sm.png");
	-fx-border-radius: 50px;
	-fx-background-radius: 100px;
	-fx-background-color: transparent;
}

.option_button:hover {
	-fx-graphic: url("../img/option_button_hover_sm.png");
	-fx-border-radius: 50px;
	-fx-background-radius: 100px;
	-fx-background-color: transparent;
}

.radio_button {
	-fx-padding: 0.2em .5em;
	-fx-font-weight: bold;
}

.radio_button .radio {
	-fx-background-color: green;
	-fx-border-color: gray;
	-fx-border-radius: 20px;
}

.radio_button:selected .dot {
	-fx-background-color: #ecc900;
}
